
    
    {# src/Shirukiz/MangaBundle/Resources/views/Manga/MangaCollection.html.twig #}
{% extends "ShirukizMangaBundle::layout.html.twig" %}

{% block body %}
    <h1>MANGA</h1>
    {% if listeManga is not empty %}
        {% for manga in listeManga %}
            <table  id="Manga">
            <tr>
                <th COLSPAN="2"><a href="{{ path('shirukiz_manga_img',{'id': manga.id })}}"><img src="../bundles/img/Image.png" alt="Modifier" id="Logo" style="float:left"/></h1></a>{{ manga.nom }}<a href="{{ path('shirukiz_manga_modifier',{'id': manga.id })}}"><img src="../bundles/img/Modifier.png" alt="Modifier" id="Logo"/></th>
            </tr>

            <tr>

                <td COLSPAN="2">
                    <a href="{{ path('shirukiz_manga_volume',{'id': manga.id })}}"><img src="../uploads/img/{{manga.image.url}}" alt="Manga" /> </a>
                </td>
            </tr>
            <tr>
                <td>{{ manga.auteur }}</td>
                <td>{{ manga.statut }}</td>
            </tr>
            </table>
        {% endfor %}
    {% else %}
        Nada... O_O
    {% endif %}
    <h1>JEUX</h1>
    {% if listeJeux is not empty %}
        {% for jeux in listeJeux %}
                {% if jeux.plateforme == plateform.nom %}
                    {{ include("ShirukizJeuxVideoBundle:Jeux:AffichageJeux.html.twig") }}
                {% endif %} 
               
            {% endfor %}
    {% else %}
        Nada... O_O
    {% endif %}
    
    
{% endblock %}
