
{% extends "ShirukizMangaBundle::layout.html.twig" %}
    
{% block body %}
    <div id="Accueil" style="background-image: url(../../uploads/img/{{livre.imageBanniere.url}});background-size: 100%;padding: 4%;text-align: center;background-repeat:no-repeat;background-color:transparent">
        <h2 style="margin-top:0;color:white;text-shadow:0 0 3px black">{{ livre.nom }}
            <a  href="#modal3" id="modifierBan" class="modal-trigger">
                <img src="../bundles/img/Image.png" alt="Modifier" id="Logo" style="float:right;width: 4%;"/>
            </a></h2>
        
    </div>
        <div id="Accueil" style="float: right;margin-right: 2%;">
            <h1>Volumes <a  href="#modal1" id="test" class="modal-trigger">
                <img src="../bundles/img/Ajouter.png" alt="Modifier" id="Logo" style="float:right;width: 4%;"/>
            </a></h1>             
            {% for volume in paginator %}
                <table id="Volume">
                    <tr>
                        {% if volume.possession == 1 %}
                        <td>
                            <a href="{{ path('volume_rejet',{'id':volume.id}) }}" onclick="return confirm('Enlever ce volume ?')">
                                <img src="../../uploads/img/{{volume.image.url}}" alt="Volume" /></td> 
                            </a>
                        {% else %}
                        <td>
                            <a href="{{ path('volume_ajout',{'id':volume.id}) }}" onclick="return confirm('Ajouter ce volume ?')">
                                <img src="../../uploads/img/{{volume.image.url}}" alt="Volume" id="NonPo"/>
                            </a>    
                        </td> 
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ volume.Volume }}
                            <a href="{{ path('volumeSupp',{'id':volume.id}) }}" onclick="return confirm('Supprimer ce volume ?')">
                                {% image 'bundles/img/Supprimer.png' %}
                                    <img src="{{ asset_url }}" alt="Example" style="width: 15%;float: right;"/>
                                {% endimage %}
                            </a>
                        </td>
                    </tr>
                </table>
           {% endfor %}
        </div>

        <div id="Accueil">
            <h1>Présentation
                <a  href="#modal2" id="modifier" class="modal-trigger">
                    <img src="../bundles/img/Modifier.png" alt="Modifier" id="Logo" style="float:right;width: 4%;"/>
                </a>
                <a  href="#modal4" id="modifierImage" class="modal-trigger">
                    <img src="../bundles/img/Image.png" alt="Modifier" id="Logo" style="float:right;width: 4%;"/>
                </a>
            </h1>
              
            <div> 
                <b>Genre : </b>{{ livre.genre }}
            </div>  
            <div>
                <b>Auteur : </b>{{ livre.auteur }}
            </div>  
            <div>    
                <b>Statut : </b>{{ livre.statut }} ( {{ livre.nbVolume }} )
            </div>
            <div> 
                <b>Editeur : </b>{{ livre.editeur.nom }}
            </div>
            <div>  
                <b>Description : </b></br>{{ livre.description }}
            </div>  
        </div>  
            
        <div id="modal1" class="modal">
            <div class="modal-content">
              <h1>Ajouter un volume !</h1>
                {{ form(form)}}
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
            
        <div id="modal2" class="modal">
            <div class="modal-content">
             <h1>Modifier ce manga</h1>
                {{ form(form2) }}
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
            
        <div id="modal3" class="modal">
            <div class="modal-content">
             <h1>Modifier la banniere</h1>
                {{ form(form3) }}
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>
            
        <div id="modal4" class="modal">
            <div class="modal-content">
             <h1>Modifier l'image</h1>
                {{ form(form4) }}
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>    
            
    <script type="text/javascript">
        
 (function ($) {
    $(function () {

        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery);

    $('#test').click(function() {
        $('#modal1').modal('open');
    });
    
    $('#modifier').click(function() {
        $('#modal2').modal('open');
    });
    
    $('#modifierBan').click(function() {
        $('#modal3').modal('open');
    });
    
    $('#modifierImage').click(function() {
        $('#modal4').modal('open');
    });
    </script>  
                    
    
    
{% endblock %}

