
{% extends "ShirukizMangaBundle::layout.html.twig" %}
{% block header %}
    {% if livre.imageBanniere != null %}
        <header style="background-image: url(../../uploads/img/{{livre.imageBanniere.url}})">
            <a href="{{ path('shirukiz_manga_imgBan',{'id': livre.id })}}"><img src="../../bundles/img/Image.png" alt="Modifier" id="Logo"/></a>
       
        {% block title %}
        {% endblock %}
        
        </header>
    {% else %}
        <a href="{{ path('shirukiz_manga_imgBan',{'id': livre.id })}}"><img src="../../bundles/img/Image.png" alt="Modifier" id="Logo"/></a>
    {% endif %}
     
    {% endblock %} 
{% block body %}
    <h2>{{ livre.nom }}</h2>
        <div id="Accueil">
            <h1>Volumes</h1>
            <div class="count">
                Nombre total de volumes : {{ paginator.getTotalItemCount }}
            </div>                
            {% for volume in paginator %}
                <table id="Volume">
                    <tr>
                        {% if volume.possession == 1 %}
                        <td><img src="../../uploads/img/{{volume.image.url}}" alt="Volume" /></td> 
                        {% else %}
                        <td>
                            <a href="{{ path('volume_ajout',{'id':volume.id}) }}" onclick="return confirm('Ajouter ce volume ?')">
                                <img src="../../uploads/img/{{volume.image.url}}" alt="Volume" id="NonPo"/>
                            </a>    
                        </td> 
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ volume.Volume }}
                            <a href="{{ path('volumeSupp',{'id':volume.id}) }}" onclick="return confirm('Supprimer ce volume ?')">
                                {% image 'bundles/img/Supprimer.png' %}
                                    <img src="{{ asset_url }}" alt="Example" style="width: 15%;float: right;"/>
                                {% endimage %}
                            </a>
                        </td>
                    </tr>
                </table>
           {% endfor %}
            <div class="navigation" style="float:right">
                {{ knp_pagination_render(paginator) }}
            </div></td>
        </div>

        <div id="Accueil">
            <h1>Présentation
                <a href="{{ path('shirukiz_manga_modifier',{'id': livre.id })}}">
                    <img src="../../bundles/img/Modifier.png" alt="Modifier" id="Logo"/>
                </a></h1>
              
            <div> 
                <b>Genre : </b>{{ livre.genre }}
            </div>  
            <div>
                <b>Auteur : </b>{{ livre.auteur }}
            </div>  
            <div>    
                <b>Statut : </b>{{ livre.statut }} ( {{ livre.nbVolume }} )
            </div>
            <div> 
                <b>Editeur : </b>{{ livre.editeur.nom }}
            </div>
            <div>  
                <b>Description : </b></br>{{ livre.description }}
            </div>  
        </div>    
                
        </tr>
    
                    
    
    
{% endblock %}

